.projetos{
    text-align: justify;
    margin-left: 75px;
}
.projetos h1{
    font-size: 45px;
    text-align: left;
    margin-left: 115px;
}
.projetos .btn{
   display: flex;
   justify-content: center;
   margin-top: 30px;
}